:root {
  --text-color: #f1f5f9;
  --primary-color: #007bff;

  --border-color: #475569;

  --bg-primary: #020617;
  --bg-secondary: #0f172a;

  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-color);

  width: max-content;
  height: max-content;
}

button {
  cursor: pointer;
}

.card {
  background-color: var(--bg-secondary);
  border: 1px solid #616b65;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 12px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

.input-group {
  display: grid;
  gap: 4px;

  & input {
    width: 100%;
    height: fit-content;

    padding: 8px;

    border-radius: var(--border-radius);
    border: none;
  }

  & button {
    display: grid;
    place-items: center;
    background: transparent;
    border: none;
    color: var(--text-color);

    width: auto;
    height: inherit;
    aspect-ratio: 1/1;

    &:hover {
      background: #424242;
      border-radius: var(--border-radius);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-field {
  display: flex;
  align-items: center;
  gap: 4px;
}

.form-input {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button-cancel {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-color);

  &:hover {
    background-color: #424242;
  }
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--text-color);

  &:hover {
    filter: brightness(1.1);
  }
}
